@import '../core/variables.scss';
@import '../core/mixins.scss';

.CharacterDetail {
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__article {
    width: 300px;
    padding: 20px;
    border: 1px solid $color-secondary;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 160px 1fr 1fr;
    @include tablet {
      width: 400px;
      grid-template-columns: 200px 1fr;
      grid-template-rows: 210px 1fr 1fr;
    }
    @include desktop {
      width: 600px;
      grid-template-columns: 200px 1fr;
      grid-template-rows: 210px 1fr 1fr;
    }
  }
  &__img {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 145px;
    border-radius: 5px;
    margin-bottom: 10px;
    @include tablet {
      width: 190px;
    }
  }
  &__title {
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 14px;
    margin-bottom: 10px;
    @include desktop {
      font-size: 16px;
    }
  }
  &__list {
    grid-column-start: 2;
    grid-column-end: 2;
    padding-left: 15px;
    list-style: none;
    &--species,
    &--status,
    &--origin,
    &--episodes {
      font-size: 12px;
      margin-bottom: 5px;
      line-height: 1.5;
      @include desktop {
        font-size: 14px;
      }
    }
  }
  &__link {
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 12px;
    @include desktop {
      font-size: 14px;
    }
  }
}
