@import '../core/variables.scss';
@import '../core/mixins.scss';

.CharacterList {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 18px;
    margin-bottom: 30px;
    @include desktop {
      font-size: 20px;
    }
  }
  &__link {
    text-decoration: none;
  }
  &__article {
    position: relative;
  }
  &__list {
    margin: 0px 15px 150px 15px;
    list-style: none;
    display: grid;
    padding-left: 0px;
    grid-template-columns: repeat(auto-fill, 140px);
    grid-gap: 20px;
    &--items {
      width: 130px;
      padding: 5px;
      border: 1px solid $color-secondary;
      border-radius: 5px;
      display: inline-block;
    }
    &--img {
      width: 129px;
      border-radius: 3px;
    }
    &--icon {
      width: 25px;
      position: absolute;
      bottom: 175px;
    }
    &--name {
      margin: 10px 0px 5px 5px;
      font-size: 14px;
    }
    &--features {
      list-style: none;
      padding-left: 5px;
      line-height: 15px;
    }
    &--species,
    &--status {
      font-size: 12px;
      margin-bottom: 5px;
    }
    @include tablet {
      max-width: 700px;
    }
    @include desktop {
      max-width: 1100px;
    }
  }
}
