@import '../core/variables.scss';

.CharacterList {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 18px;
    margin-bottom: 30px;
  }
  &__link {
    text-decoration: none;
  }
  &__article {
    position: relative;
  }
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: 150px 150px;
    column-gap: 30px;
    row-gap: 20px;
    &--items {
      width: 150px;
      padding: 5px;
      border: 1px solid $color-secondary;
      border-radius: 5px;
      display: inline-block;
    }
    &--img {
      width: 150px;
      border-radius: 3px;
    }
    &--icon {
      width: 25px;
      position: absolute;
      bottom: 200px;
    }
    &--name {
      margin: 10px 0px 5px 5px;
      font-size: 14px;
    }
    &--features {
      list-style: none;
      padding-left: 5px;
      line-height: 15px;
    }
    &--species,
    &--status {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
}
