@import '../core/variables.scss';
@import '../core/mixins.scss';

.Filters {
  margin: 15px;
  @include desktop {
    max-width: 1100px;
  }
  &__input {
    padding: 5px;
    margin: 10px 0px 15px 0px;
    display: block;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border-color: $color-primary;
    @include tablet {
      width: 600px;
    }
    @include desktop {
      width: 150px;
      margin: 0px 30px 0px 10px;
      display: inline-block;
    }
    &--name {
      height: 20px;
      width: 288px;
      @include tablet {
        width: 588px;
      }
      @include desktop {
        width: 140px;
      }
    }
    &--order {
      margin-right: 5px;
      height: 15px;
      width: 15px;
    }
    &--orderLabel {
      position: relative;
    }
    &--orderChecked {
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      background-color: $color-secondary;
    }
  }
  &__reset {
    margin: 10px 0px 15px 35px;
    border-radius: 5px;
    border-color: $color-primary;
    width: 80px;
    height: 30px;
    cursor: pointer;
  }
}
