@import '../core/variables.scss';
@import '../core/mixins.scss';

.Footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: $color-secondary;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  &__text,
  &__link {
    background-color: $color-secondary;
    color: $color-black;
    font-weight: 600;
  }
}
