@import '../core/mixins.scss';

.NotFound {
  width: 300px;
  margin: 0px 0px 100px 30px;
  @include desktop {
    width: 600px;
    margin-left: 100px;
  }
  &__img {
    width: 160px;
    margin: 0px 0px 15px 40px;
    @include tablet {
      width: 300px;
      margin: 15px 0px 20px 0px;
    }
  }
  &__text {
    line-height: 1.5;
  }
}
