@import '../core/mixins.scss';

.PageNotFound {
  margin: 0px 25px 150px 30px;
  @include tablet {
    margin-left: 60px;
  }
  &__img {
    width: 300px;
    margin-bottom: 15px;
    @include tablet {
      width: 400px;
      margin-bottom: 25px;
    }
  }
  &__text {
    line-height: 1.5;
    margin-bottom: 15px;
  }
}
