@import '../core/mixins.scss';

.ServerError {
  margin: 0px 25px 100px 40px;
  @include tablet {
    margin-left: 90px;
  }
  &__img {
    width: 250px;
    margin-bottom: 15px;
  }
  &__text {
    line-height: 1.5;
    margin-bottom: 15px;
  }
}
