//colors
$background-color: black;
$color-primary: #68c8ec;
$color-secondary: #fafc7c;
$color-light: white;

//fonts
$font-size: 16px;
$font-title: 'Creepster', cursive;
$font-main: 'Montserrat', sans-serif;
